.title {
    width: 100%;
    /* text-align: right; */
    background: rgb(175, 175, 175);
    color: #444;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1em;
    margin-bottom: 0;

}